{% extends 'base_auth.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5">
            <div class="card-body">
                <div class="card-title py-2">
                    <h4>Войти в учетную запись</h4>
                 </div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% include 'partials/_messages.html' %}

                    <div class="form-group py-1">
                        <input
                                type="text"
                                name="username"
                                placeholder="Имя пользователя"
                                id="usernameField"
                                class="form-control form-control-sm"
                                value="{{ fieldValues.username }}"
                        />
                    </div>

                    <div class="form-group py-1">
                        <input type="password" name="password" placeholder="Пароль" id="passwordField" class="form-control form-control-sm" />
                        <div class="py-2 form-check float-right">
                            <input type="checkbox" class="showPasswordToggle" />
                            <small class="showPasswordToggle">Показать пароль</small>
                        </div>
                    </div>
                    <div class="text-center mt-3 mb-3">
                        <input type="submit" value="Войти" class="btn btn-block btn-primary submit-btn" />
                    </div>
                    <!--<div class="text-center">
                        <small><a href="{% url 'register' %}"> Нет учетной записи? Нажмите, чтобы зарегистрировать аккаунт.</a></small>
                    </div>-->
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock %}